.list {
  text-align: left;
  max-width: 1000px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}
.bg-purple {
  background-color: #5c52b6;
}
.btn-primary {
  margin: 10px;
}
